@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Nunito, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
}
.input-forgotPassword label.email{
    left:-100px;
}
.Emailsent{
    position: absolute;
    top: 50px;
    left: -150px;
    width: 500px;

}
.input-forgotPassword img.email{
    left:-140px;
}
.input-forgotPassword{
    background: #5169dd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    width: 400px;
    border-radius: 20px;
}
.input-box{
    bottom: -5px;
}
input.email{
    position: absolute;
    background: #859cf699;
    height: 44px;
    border-radius: 38px;
    color: white;
    outline: 0;
    padding: 0 12px;
    transition: color .3s, border .3s;
    padding-left: 46px;
    z-index: 50;
    width: 250px;
    transition: 0.8s ease;
    border: none;
    left: -154px;

}
.input-forgotPassword form{
    position: relative;
    right: 0px;
    top: -10px;
}




.input-forgotPassword .input-box label{
    position: absolute;
    color: rgba(255, 255, 255, 0.702);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}




.input-forgotPassword .input-box{
    position: relative;
}

.input-forgotPassword img{
    position: absolute;
    width: 25px;
}





input.email:focus{
    border: 2px solid rgba(255, 255, 255, 0.702);
}



.input.email:focus ~label.email ,
input.email:valid ~label.email{
    transform: translate(-77px,-30px) scale(.8);
}




.sendLink{
    position: absolute;
    top: 50px;
    left: 80px;
}


.btn-sendLink {
    position: absolute;
    right: -24px;
    background: #69d3c2;
    border-radius: 20.5px;
    color: #fff;
    font-family: Nunito, sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 41px;
    line-height: 41px;
    padding: 0 30px;
    text-align: center;
    border: none;
    width: 200px;
    cursor: pointer;
    transition: 0.5s ease;
    top:-35px
}

/* Hover effect for buttons */
.btn-sendLink:hover {
    box-shadow: 0px 6px hsla(0, 0%, 0%, 0.198);
}


