@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Nunito, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
}

.input-changePassword,.success-message{
    background: #5169dd;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    border-radius: 20px;
}

.input-changePassword form{
    position: relative;
    right: 160px;
    top:  -100px;
}

.input-changePassword input{
    position: absolute;
    background: #859cf699;
    height: 44px;
    border-radius: 38px;
    color: white;
    outline: 0;
    padding: 0 17px;
    transition: color .3s, border .3s;
    padding-left: 46px;
    z-index: 50;
    width: 250px;
    transition: 0.8s ease;
    border: 2px solid #859cf699;
}

input.password{
    top: 12px;
}

input.confirm{
    top: 75px;
}

.input-changePassword .input-box label{
    position: absolute;
    color: rgba(255, 255, 255, 0.702);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

label.password{
    height: 30px;
    top: 21px;
    left: 46.5px;
    transition: 0.3s ease;
}

label.confirm{
    width: 150px;
    transition: 0.3s ease;
    height: 15px;
    top: 92px;
    left: 40px;
}

.input-changePassword .input-box{
    position: relative;
}

.input-changePassword img{
    position: absolute;
    width: 25px;
}



img.password{
    top: 22px;
    left: 15px;
}

img.confirm{
    top: 85px;
    left: 15px;
}

input:focus{
    border: 2px solid rgba(255, 255, 255, 0.702);
}

input.password:focus{
    border: 2px solid hsl(51, 100%, 94%);
}


input.password:focus ~label.password,
input.password:valid ~label.password,
input.conferm:focus ~label.confirm ,
input.conferm:valid ~label.confirm{
    transform: translate(-40px,-31px) scale(.89);
}
input[type="password"] {
    color: white;
}

/* Change the background color of the reveal password button */
::-ms-reveal {
    filter: invert(100%); /* Invert the icon color to white */
}


input.password:focus ~img.password,
input.password:valid ~img.password,{
z-index: 100000;
}

.btn-changePassword {
    width: 170px;
    border-radius: 50px;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    background: #69d3c2;
    animation: flash 1s infinite alternate;
    position: absolute;
    top: 115px;
    left: 70px;
}

@keyframes flash {
    0% {
        background: #69d3c2;
    }
    100% {
        background: #ffcc00;
    }
}


.changePassword-title{
    font-size: 50px;
    letter-spacing: 3px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom:  -10px;
    left: 60px;
    width: 200px;
}
.passwordChanged{
    position: absolute;
    top: 240px;
    left: 33px;
    width: 500px;
}