*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 400px;
    position: relative;
}

.navbar nav .navBarUL{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    margin-right: 300px;
}
 .navBarLI {
    padding:15px 20px ;
    color: #4e5983;
    font-weight: 600;
    cursor: pointer;
}

.navBarLI:hover{
    border-bottom:2px solid #5169dd;
}

.switch{
    position: absolute;
    right: 80px;
}

.navBarLI.home{
    color: #5169dd;
}
.navbar img{

}
.NavBar-YourTours{
    position: absolute;
    right: 200px;
    width: 350px;
    right: 50px;
}