.successmessage {
  left: 50px;
  bottom: 30px;
  position: absolute;
  width: 100px;
  height: 100px;
  transition: opacity 0.7s ease-in-out;
  } */
  .successmessage.appear {
    opacity: 1;
  }
  .successmessage.disappear {
    opacity: 0;
  }
  .success {
    background-color: hsl(120, 72%, 60%);
    width: 330px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
    gap: 5px;
  }
  .successmessageIcon {
    width: 50px;
    position: absolute;
    left: 10px;
  }
  .successmessageCancelIcon {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    width: 10px;
  }
  span.successmessage {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
    font-size: 15px;
    color: white;
    letter-spacing: 0px;
    left: 70px;
    bottom: 20px;
  }